.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    font-weight: 400;
    font-size: xx-large;
    border-bottom: 1px solid lightgray;
}

.checkout__ad {
    width: 100%;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .checkout {
        flex-direction: column;  /* Stack elements vertically */
        align-items: center;  /* Center items */
    }

    .checkout__ad {
        width: 100%;
        margin-bottom: 20px;  /* Add space between ad and subtotal */
    }

}